<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/destyle.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>BOX予約</title>
</head>

<body>
  <div class="main-container">
    <% if (flashMessages) { %>
      <% if (flashMessages.success) { %>
        <div class="flashes alert">
          <div class="flash success"><%= flashMessages.success %></div>
        </div>
      <% } else if (flashMessages.error) { %>
        <div class="flashes alert">
          <div class="flash error alert-danger"><%= flashMessages.error %></div>
        </div>
      <% } %>
    <% } %>
    <h1 class="main-header"><%= user.name %></h1>
    <div class="btn-footer">
      <a class="btn-link-big" href="/users/updatepwd">パスワード変更</a>
      <form method="POST" action="/logout">
        <input type="submit" class="btn-link" value="ログアウト" />
      </form>
    </div>
  </div>
</body>

</html>