<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <head>
    <title>CPS予約システム</title>
    <%- include("./common/stylesheets.ejs") %>
  </head>
</head>

<body>
  <div class="main_container">
    <div class="login_header">
      <a href="/">
        <img class="login_header_img" src="/static/images/building_logo.svg">
      </a>
    </div>
    <% if (flashMessages) { %>
      <% if (flashMessages.success) { %>
        <div class="flashes alert">
          <div class="flash success"><%= flashMessages.success %></div>
        </div>
      <% } else if (flashMessages.error) { %>
        <div class="flashes alert">
          <div class="flash error alert-danger"><%= flashMessages.error %></div>
        </div>
      <% } %>
    <% } %>
    <!-- ルール表示 -->
    <div class="rule">
      <h2 class="rule_title">予約ルール</h2>
      <div class="rule_content">
        <p>・1回の予約は<span class="rule_color_red">3時間</span>までです。</p>
        <p>・1人1予約のみです。</p>
        <p>・予約時間経過後に再度予約が可能です。</p>
      </div>
    </div>
    <form action="/login" method="post">
        <div class="login_form_area">
        <div>
          <input class="form_item_style" type="text" name="username" placeholder="ID" autofocus />
        </div>
        <div>
          <input class="form_item_style" type="password" name="password" placeholder="パスワード" />
        </div>
        <div>
          <input class="submit_btn" type="submit" value="ログイン" />
        </div>
        <div class="link_area">
          <a class="link_btn" href="/users/request">初めての方はこちら</a>
          <a class="link_btn" href="/users/requestpwd">パスワード忘れ</a>
        </div>
      </div>
    </form>
  </div>
</body>

</html>