<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <head>
    <title>新規ユーザー登録</title>
    <%- include("./common/stylesheets.ejs") %>
  </head>
</head>

<body>
  <div class="main_container">
      <div class="request_inner">
      <div class="request_header">
        <a href="/">
          <img class="request_header_img" src="/static/images/building_logo.svg">
        </a>
      </div>
      <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
          <div class="flashes alert">
            <div class="flash success"><%= flashMessages.success %></div>
          </div>
        <% } else if (flashMessages.error) { %>
          <div class="flashes alert">
            <div class="flash error alert-danger"><%= flashMessages.error %></div>
          </div>
        <% } %>
      <% } %>
      <div class="request_msg">
        メールアドレスを入力し<br/>
        「送信」を押してください。
      </div>
        <form method="POST" action="/users/request">
          <input class="form_item_style" type="email" name="email"
    pattern="^[a-zA-Z0-9.!#$&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+$" autofocus required>
          <div>
            <input type="submit" class="submit_btn" value="送信" />
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>