<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <head>
    <title>予約システム</title>
    <%- include("./common/stylesheets.ejs") %>
  </head>
</head>

<body>
  <div class="main_container">
    <div class="request_header">
      <img class="request_header_img" src="/static/images/building_logo.svg">
    </div>
    <div class="err_innser">
        <% if (flashMessages) { %>
          <% if (flashMessages.success) { %>
            <div class="flashes alert">
              <div class="flash success"><%= flashMessages.success %></div>
            </div>
          <% } else if (flashMessages.error) { %>
            <div class="flashes alert">
              <div class="flash error alert-danger"><%= flashMessages.error %></div>
            </div>
          <% } %>
        <% } %>
      </div>
  </div>
</body>
</html>