$base-color: #243856;
$base-color-hover: #ffffff;
$second-color: #8a8a8a;
$second-color-hover: #d3eced;
$base-bg-color: #243856;
$second-bg-color: #8a8a8a;


body {
  /* padding: 50px; */
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

// 共通部分
.form_item_style {
  color: #333;
  height: 30px;
  padding: 20px 5%;
  border: 1px solid #ccc;
  border-radius: 27px;
  background-clip: padding-box;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
  text-align: left;
  &:focus {
    border: 1px solid #000;
    background-color: #bfcad8;
  }
}
.form_item_readonly_style {
  color: #000;
  background-color: #bfcad8;
  height: 30px;
  padding: 20px 5%;
  // border: 1px solid #ccc;
  border-radius: 27px;
  background-clip: padding-box;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
  text-align: left;
}
// submitボタン
.submit_btn {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  display: inline-block;
  width: 120px;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
    &:hover {
    background-color: #fff;
    color: #000;
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }
}
// リンク
.link_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link_btn {
  // width: 200px;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #000;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #000;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }
}

// フラッシュメッセージ領域
.flashes {
  display:inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.flash {
  font-size:14px;
  padding: 10px 30px;
  border-radius: 15px;
  line-height: 1.2rem;
}
.success {
  color:#000;
  font-weight: 600;
  background-color: #bfcad8;
}
.error {
  color:#F93115;
  font-weight: 600;
  background-color: #FFE6D8;
}


// ★ログイン画面
.login_header_img,
.request_header_img {
  width: 200px;
  margin: auto;
  padding-bottom:20px;
}
.rule {
  width: 300px;
  margin: 0 auto;
}
.rule_title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  background-color: #F93115;
  padding: 5px 0;
  color:#fff;
}
.rule_content {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin:0 auto;
  margin-bottom: 15px;
}
.rule_color_red {
  color:#F93115;
}

// フォーム入力エリア
.login_header,
.request_header {
  text-align: center;
  margin-top: 50px;
}
.login_form_area {
  text-align: center;
}

// ★ヘッダー
.header {
  // height: 50px;
  width:100%;
  max-width: 365px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0 auto;
  // margin-bottom: 30px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index:2;
}
.header_main {
  width:100%;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #fff;
}
.heeder_left {
  width:70%;
  padding: 0 10px;
}
.header_img {
  width:250px;
}
.header_right {
  display: flex;
  width:30%;
  padding: 0 10px;
  justify-content: flex-end;
  align-items: center;
}
.header_menu {
  display: inline-block;
  padding: 0 0 0 15px;
}
.header_icon_img {
  width: 30px;
}
.header_logout_icon_img {
  padding-top:3px;
  width: 33px;
}
.header_left {
  cursor: pointer;
}

// ★メイン部分
.main_container {
  width:100%;
  max-width: 365px;
  margin: 0 auto;
}
// 上に固定する部分
.section_header {
  position: sticky;
  top: 85px;
  background-color: #fff;
}

// アンカー位置を調整
.anchor {
  padding-top:300px;
  margin-top:-300px;
}

// ★★時間選択メッセージエリア
.select_time_area {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  visibility: hidden;
}
.select_time_area_inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  width: 360px;
  text-align: center;
  padding: 2rem;
}
.select_time_msg {
  display: inline-block;
  width: 100%;
  color:#000;
  font-weight: 600;
  background-color: #bfcad8;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
}
.select_time_header {
  width: 100%;
  font-weight: 600;
  margin-bottom: 10px;
}
.select_time_start {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.select_time_start_label {
  display: inline-block;
  width: 60px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 2px;
}
.select_time_ends {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.select_time_radio_input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.select_time_radio_label {
  display: inline-block;
  transition: all 0.2s;
  width: 140px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 15px;
}
.select_time_radio_input:checked + .select_time_radio_label {
  background: #f93115;
  color: #fff;
}

// ★★ルール確認エリア
.rule_area {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  visibility: hidden;
}
.rule_area_inner {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#fff;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  font-weight: 600;
  padding: 2rem;
}
.rule_area_header {
  position: relative;
  text-align: center;
  font-size:20px;
  color: #fff;
  background-color: #F93115;
  padding: 5px 0;
}
.rule_area_text {
  text-align: left;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-size: 14px;
}
.rule_area_closebtn {
  font-size: 16px;
  color: #000;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #fff;
  padding: 15px;
  margin: 0 15px;
}
.rule_area_closebtn:hover {
  background-color: #000;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

// ★★キャンセル確認エリア
.msg_confirm {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  visibility: hidden;
}
.msgarea_confirm {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#fff;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  font-weight: 600;
  padding: 2rem;
}
.msgarea_text_confirm {
  margin-bottom: 20px;
}
.msgarea_okbtn,
.msgarea_ngbtn {
  font-size: 16px;
  color: #000;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #fff;
  padding: 15px;
  margin: 0 15px;
}
.msgarea_okbtn:hover,
.msgarea_ngbtn:hover {
  background-color: #000;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

// ★★予約領域
// 名前
.name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name_person {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 5px;
}
.name_company {
  font-size: 0.8rem;
  margin-bottom: 10px;
}
// 予約済情報
.yoyakued {
  width: 100%;
  display: flex;
  position: relative;
  font-size: 18px;
  margin: 20px auto 10px auto;
  font-weight: 600;
  padding:5px;
  &::after {
    position: absolute;
    font-weight: 600;
    content: '予約済';
    background: #F93115;
    color: #fff;
    left: 0px;
    bottom: 100%;
    border-radius: 5px;
    padding: 3px 7px 3px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em
  }
}
.cancel_btn_icon {
  width:20px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

// 日付
.day {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #000000;
  color:#ffffff;
  padding:10px;
  text-align: center;
}
.current_day {
  display: inline-block;
  width: 160px;
  text-align: center;
  font-size:24px;
  font-weight: 600;
  margin: 0 10px 0 15px;
}
.before_day {
  display: inline-block;
}
.after_day {
  display: inline-block;
}
.before_icon,
.after_icon {
  width: 20px;
}

// 部屋
.rooms {
  display: flex;
  align-items: center;
  margin-bottom: 10px;;
  justify-content: flex-start;
  font-size:14px;
}
.room_current {
  display: inline-block;
  background-color: #000;
  color:#fff;
  width: 200px;
  text-align: center;
  font-weight: 600;
  border: 1px solid #000;
  padding: 10px 5px;
}
.room {
  display: inline-block;
  width: 200px;
  text-align: center;
  font-weight: 600;
  border: 1px solid #000;
  padding: 10px 5px;
}

// 予約一覧情報
.yoyaku_rows {
  width: 100%;
  display: flex;
  align-items: center;
  font-size:1rem;
  margin-bottom: 5px;
  font-weight: 700;
}
.yoyaku_time_row {
  display: inline-block;
  background-color: #000000;
  padding: 10px;
  flex-basis: 20%;
  text-align: center;
  color:#ffffff;
}
.yoyaku_yoyakued_row {
  display: inline-block;
  background-color: #bfcad8;
  padding: 10px;
  flex-basis: 80%;
}
.yoyaku_yoyaku_row {
  display: inline-block;
  background-color: #bfcad8;
  padding: 10px;
  flex-basis: 80%;
  &:hover {
    opacity: 0.7;
  }
}


// ★リクエスト画面
.request_inner {
  text-align: center;
}
.request_msg {
  font-size:16px;
  font-weight: 600;
  margin-bottom: 20px;
}

// ★ユーザー情報編集画面
.userform_inner {
  text-align: center;
}
.userform_msg {
  font-size:16px;
  font-weight: 600;
  margin: 10px auto 20px auto;
}



// ★エラー画面
.err_inner {
  margin-top: 50px;
}