<div class="header">
    <div class="header-main">
        <a class="header-left" href="/">
            <img class="header-img" src="/static/images/building_logo.svg">
        </a>
        <div class="header-right">
            <a class="header-menu header-profile" href="/users/updinfo">
                <img class="header-icon-img" src="/static/images/profile.svg">
            </a>
            <form class="header-menu header-logout" method="post" action="/logout">
                <input type="image" class="header-logout-icon-img" src="/static/images/logout.svg" />
            </form>
        </div>
    </div>
</div>